---
import { getCollection, CollectionEntry } from "astro:content";
import type { GetStaticPaths } from "astro";
import BG from "/assets/Mask-group.png";

import MainLayout from "../../layouts/MainLayout.astro";
import {formatBlogPosts} from "../../js/utils" 
import Card from "../../components/Card.astro";
import Pagination from "../../components/Pagination.astro";
import CategoryCloud from "../../components/CategoryCloud.astro";

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("blog");
  const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts);

  return paginate(formattedPosts, {
    pageSize: 3,
  });
}


const { page } = Astro.props;
// console.log("🚀 ~ file: [...page].astro:23 ~ page:", page)

// export const getStaticPaths: GetStaticPaths = async ({paginate}) => {
//   const blogPosts = await getCollection("blog");
//   const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(blogPosts);

//   return paginate(formattedPosts, {
//     pageSize: 3,
//   })
// }


// const {page} = Astro.props;
// console.log("🚀 ~ file: [...page].astro:22 ~ page:", page)

---

<MainLayout title= "Berita terkini">
    <div class="p-4">
        <img
          src={BG}
          alt="MySekolah Kripto"
          class="absolute -mt-[15%] rotate-180 w-full left-0 lg:block hidden -z-20"
        />
        <img
          src={BG}
          alt="MySekolah Kripto"
          class="absolute mt-[100%]rotate-180 left-0 h-[550px] sm:block md:hidden -z-20"
        />
        <h2 class="lg:text-3xl text-3xl font-bold text-center text-white">Blog</h2>
        <h3 class="text-sm lg:text-base py-2 text-center text-jacarta-200 mt-2">
          Pilih laluan anda untuk mempelajari asas web3!
        </h3>
      </div>
    
      <div class="px-4 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24">
        <div class=" py-8 mx-2 sm:mx-auto max-w-7xl lg:py-18">
          <aside class="mb-6 flex items-center gap-4" aria-label="Blog categories">
            <p class="text-accent w-[72px]">Kategori |</p>
            <CategoryCloud showCount={true} />
          </aside>
          <div
            class="grid gap-8 lg:grid-cols-3 sm:max-w-sm sm:mx-auto lg:max-w-full"
          >
          {
            page.data.map((post) => (
            <Card data={post.data} url={post.slug} tagType="h2"
              />
            ))
          }
          
           
          </div>
        </div>
        <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
        
      </div>
  </MainLayout>