---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import BG from "/assets/Mask-group.png";
import Gradient1 from "/assets/gradient_1.webp";
import Gradient2 from "/assets/gradient_2.webp";
import Hero from "/assets/modul_hero.webp";
import Map from "/assets/map.webp";
import Image1 from "/assets/convo.svg";
import Image2 from "/assets/book.svg";
import Image3 from "/assets/globe.svg";
import gambaranModul from "../data/gambaranModul";
import moduleData from "../data/moduleData";
---

<MainLayout title="Modul">
  <picture class="pointer-events-none absolute inset-x-0 top-0 -z-10 block">
    <img src={Gradient1} alt="gradient dark" class="w-full md:w-1/2" />
  </picture>
  <!-- HERO -->
  <section
    class="flex flex-wrap items-center justify-center mx-auto max-w-7xl px-4 py-12 sm:px-6 md:px-12 lg:px-24 text-white"
  >
    <div class="h-[700px] md:h-[800px] lg:min-h-screen">
      <h1
        class="pb-2 mt-12 md:mt-20 text-4xl text-center font-bold leading-none md:text-6xl lg:text-6xl text-transparent bg-gradient-to-r from-teal to-accent bg-clip-text heroTextShadow"
      >
        Meneroka Potensi Web3 dan Teknologi Blockchain
      </h1>
      <p
        class="mb-14 mt-5 text-lg leading-relaxed text-center text-jacarta-200"
      >
        Membuka pintu menuju pembelajaran yang membolehkan anda untuk memahami,
        menguasai, dan berinovasi dalam teknologi web3 yang sedang berkembang
        dengan kursus-kursus terkini dari Kampus SekolahKripto!
      </p>
      <div class="flex items-center justify-center">
        <a
          href="/"
          class="rounded-full bg-accent py-3 px-5 text-base text-center font-semibold text-white shadow-accent-volume transition-all hover:bg-accent-dark"
        >
          Sertai Sekarang!
        </a>
      </div>
      <img src={Hero} alt="" class="w-full absolute right-0 left-0 mt-[5%] md:-mt-[4%]" />
    </div>
  </section>

  <!-- KELEBIHAN KURSUS KAMI -->
  <section class="w-full bg-jacarta-800 relative z-10">
    <div class="px-4 py-16 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24">
      <div
        class="flex items-center justify-center flex-wrap md:flex-nowrap mx-auto max-w-7xl gap-4"
      >
        <div
          class="flex flex-col items-start mr-8 lg:flex-grow lg:w-1/3 z-10 ease-in-out text-white"
        >
          <h2 class="text-4xl font-bold mb-4">
            Kelebihan <br />Kursus Kami
          </h2>
          <p class="text-jacarta-300 text-lg">
            Kami menyediakan pembelajaran terkini, relevan yang memberikan anda
            keunggulan dalam memahami dan menerapkan teknologi Web3.
          </p>
        </div>

        <div class="w-full">
          <div
            class="grid justify-center grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3"
          >
            <div
              class="bg-jacarta-800 rounded-2xl bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-80 border border-jacarta-600 text-white px-4 pb-6 pt-4"
            >
              <img src={Image1} alt="Kampus Sekolah Kripto" />
              <p class="my-2 text-xl">Dikendalikan oleh Pakar</p>
              <p class="text-lg text-jacarta-200">
                Belajar dari pakar industri Web3 dalam pembelajaran interaktif
              </p>
            </div>
            <div
              class="bg-jacarta-800 rounded-2xl bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-80 border border-jacarta-600 text-white px-4 pb-6 pt-4"
            >
              <img src={Image2} alt="Kampus Sekolah Kripto" />
              <p class="my-2 text-xl">Pembelajaran Praktikal</p>
              <p class="text-lg text-jacarta-200">
                Terapkan pengetahuan anda secara efektif dalam dunia sebenar.
              </p>
            </div>
            <div
              class="bg-jacarta-800 rounded-2xl bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-80 border border-jacarta-600 text-white px-4 pb-6 pt-4"
            >
              <img src={Image3} alt="Kampus Sekolah Kripto" />
              <p class="my-2 text-xl">Komunity Aktif</p>
              <p class="text-lg text-jacarta-200">
                Interaksi dengan komuniti untuk dapatkan sokongan dan inspirasi.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- GAMBARAN TENTANG MODUL INI -->
  <section
    class="px-4 py-16 lg:py-32 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24"
  >
    <div
      class="flex flex-wrap md:flex-nowrap items-start mx-auto max-w-7xl gap-6"
    >
      <div
        class="w-[250px] md:w-[700px] h-[700px] absolute bg-gradient-to-r from-[#FFC83A] via-[#FF008A] to-accent filter blur-[150px] z-1 mt-[15%] -mr-[10%] right-0 hidden md:block opacity-60"
      >
      </div>
      <div
        class="w-[250px] md:w-[550px] h-[200px] absolute bg-[#7010bbcc] filter blur-[150px] z-1 block md:hidden translate-y-1/2"
      >
      </div>

      <div
        class="flex flex-col items-start lg:mt-12 lg:flex-grow lg:w-1/2 lg:pr-6 xl:pr-24 md:mb-0 xl:mt-0 z-10"
      >
        <h2 class="text-3xl font-bold text-white">
          Gambaran Tentang Modul Ini
        </h2>
        <p class="mt-4 text-jacarta-300 text-lg">
          Pintu Masuk Anda ke Dunia Web3!
        </p>
      </div>

      <div class="w-full lg:max-w-lg lg:w-1/2 text-white relative z-10">
        {
          gambaranModul.map((items) => {
            return (
              <ol>
                <li class="mb-2 flex items-center gap-4 hover:text-jacarta-300 text-lg">
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6 text-accent  "
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                      />
                    </svg>
                  </span>
                  {items.item}
                </li>
              </ol>
            );
          })
        }
      </div>
    </div>
  </section>

  <!-- KURIKULUM  -->
  <section class="px-4 py-16 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24">
    <div class="max-w-7xl">
      <div
        class="relative w-full h-[400px] flex justify-between flex-wrap px-5 md:px-10 pt-10 md:pt-20 text-white bg-jacarta-800 rounded-2xl bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-80 border border-jacarta-600"
      >
        <div class="w-full md:w-1/2">
          <h2 class="text-3xl md:text-4xl font-bold">Penerokaan Dunia Web3!</h2>
          <!-- HIDDEN UNTUK DEKTOP -->
          <div class="md:hidden flex flex-col items-start mt-4">
            <p>
              Mulakan perjalanan anda melalui modul kursus terperinci kami,
              membongkar misteri dunia web3 dan melengkapkan diri anda dengan
              pengetahuan dan kemahiran dalam teknologi blockchain.
            </p>
            <a
              href="/"
              class="mt-5 rounded-full bg-accent py-3 px-5 text-base text-center font-semibold text-white shadow-accent-volume transition-all hover:bg-accent-dark"
            >
              Sertai Sekarang!
            </a>
          </div>
        </div>
        <!-- SHOW UNTUK DESKTOP -->
        <div
          class="w-full md:w-1/2 md:flex flex-col items-start hidden text-lg"
        >
          <p>
            Mulakan perjalanan anda melalui modul kursus terperinci kami,
            membongkar misteri dunia web3 dan melengkapkan diri anda dengan
            pengetahuan dan kemahiran dalam teknologi blockchain.
          </p>
          <a
            href="/"
            class="mt-5 rounded-full bg-accent py-3 px-5 text-base text-center font-semibold text-white shadow-accent-volume transition-all hover:bg-accent-dark"
          >
            Sertai Sekarang!
          </a>
        </div>
      </div>
      <div
        class="relative px-5 md:px-10 -mt-10 md:-mt-28 grid gap-4 lg:grid-cols-3 sm:max-w-sm sm:mx-auto lg:max-w-full z-10"
      >
        {
          moduleData.slice(0, 3).map((data) => (
            <article class="card overflow-hidden px-4 md:px-5 pt-4 bg-jacarta-700 shadow-lg rounded-lg border border-jacarta-600 ">
              <img
                src={data.image}
                class=" w-full rounded-md object-cover sm:aspect-video md:aspect-square"
                alt={data.name}
              />

              <div class="py-5 ">
                <p class="mb-1 text-white font-medium">{data.name}</p>
              </div>
            </article>
          ))
        }
      </div>
    </div>
  </section>

  <section class="px-4 py-16 lg:py-32 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24">
    <div
      class="w-[250px] md:w-[700px] h-[700px] absolute bg-gradient-to-r from-[#FFC83A] via-[#FF008A] to-accent filter blur-[150px] z-1 -mt-[5%] -ml-[10%] left-0 hidden md:block opacity-60"
    >
    </div>
    <div
        class="w-[250px] md:w-[550px] h-[200px] absolute bg-[#7010bbcc] filter blur-[150px] z-1 block md:hidden right-0 mt-[80%]"
      >
      </div>
    <div class="relative flex flex-wrap flex-col md:flex-nowrap items-center mx-auto max-w-7xl gap-6 z-10">
      <h1
        class="pb-2 mt-12 md:mt-20 text-4xl text-center font-bold leading-none md:text-6xl lg:text-6xl text-transparent bg-gradient-to-r from-teal to-accent bg-clip-text heroTextShadow"
      >
        Mari sertai komuniti Web3 dan Blockchain terbesar di Malaysia!
      </h1>
      <p
        class="mb-14 mt-5 text-lg leading-relaxed text-center text-jacarta-200"
      >
      Menjadi sebahagian daripada komuniti Web3 dan blockchain yang terulung di Malaysia, di mana anda boleh berhubung dengan orang industri, menerima pandangan eksklusif dan meluaskan lagi pemahaman anda dalam  teknologi ini.
      </p>
      <img src={Map} alt="Kampus Sekolah Kripto">
      <div class="flex items-center justify-center mt-10">
        <a
          href="/"
          class="rounded-full bg-white py-3 px-10 text-center font-semibold text-accent shadow-white-volume transition-all hover:bg-accent-dark hover:text-white hover:shadow-accent-volume"
        >
          Sertai Sekarang!
        </a>
      </div>
      

      
    </div>
  </section>

</MainLayout>
