---
import {slugify, formatDate } from "../js/utils";



const {data, url, tagType} = Astro.props;
const Tag = tagType;
const { title, date, author, description, category, image} = data;
// console.log("🚀 ~ file: Card.astro:17 ~ category:", category)
---

<article class="cursor-pointer overflow-hidden rounded-lg border border-t-0 border-jacarta-600 bg-jacarta-700">
  
  <a href={`/blog/${url}/`}>
    <img
      src={image.src}
      class="w-full rounded-md object-cover aspect-video"
      alt={title}
    />
    <div class="p-5">
      <Tag class="mb-4 font-bold text-white hover:text-accent tracking-wide normal-case line-clamp-2 text-xl">
        {title}
      </Tag>
      <p class="mb-8 text-jacarta-200 text-sm line-clamp-2">
     {description}
      </p>
      <div class="flex flex-wrap items-center space-x-2 text-sm text-jacarta-400">
        <span><time datetime={formatDate(date)}>{formatDate(date)}</time></span>
        <span>•</span>
        <span><a href={`/author/${slugify(author)}/`} class="hover:underline" >{author}</a></span>
      </div>
      <div class="mt-4">
        <a href={`/category/${slugify(category)}/`} class="text-accent text-[11px] rounded-md border-2 border-accent py-1 px-2 my-auto ">{category}</a>
      </div>
      <!-- {
        category.map((categoryie: any) => {
        
          return (
          <a href={`/category/${slugify(category)}/`} class="bg-white p-2 rounded-md font-bold hover:bg-yellow-400 uppercase">
                  <span>{categoryie}</span></a>
          
          )
        })
      } -->
    </div>
    
  </a>
</article>

<style>
  .card {
    transition: all 300ms;
  }

  .card:hover {
    opacity: 0.8;
    transform: scale(1.1);
  }
</style>
